In [2]:
#installing sqlalchemy_utils
pip install sqlalchemy_utils

Collecting sqlalchemy_utils
  Downloading SQLAlchemy_Utils-0.38.3-py3-none-any.whl (100 kB)
Requirement already satisfied: SQLAlchemy>=1.3 in c:\users\meekrius\anaconda3\lib\site-packages (from sqlalchemy_utils) (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\meekrius\anaconda3\lib\site-packages (from SQLAlchemy>=1.3->sqlalchemy_utils) (1.1.1)
Installing collected packages: sqlalchemy-utils
Successfully installed sqlalchemy-utils-0.38.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection_str = "mysql+pymysql://root:root@localhost/new_db"

In [4]:
#Creating the engine
engine = create_engine(connection_str)

In [5]:
create_database(connection_str)

In [6]:
#checking if the db now exists
database_exists(connection_str)

True

In [7]:
## Check if database exists, if not, create it
if database_exists(connection_str) == False: create_database(connection_str)
else: print('The database already exists.')

The database already exists.

In [9]:
import pandas as pd
df = pd.read_csv('data/Tshirt.csv')
df.head()

  Size  Color  Cost Sold
0    S   Blue  5.00    Y
1    M    Red  7.49    Y
2    M  Green  8.00    N
3   XL  Green  4.00    N
4    L    Red  9.99    Y

In [10]:
#Adding this table to the database and naming it tshirts
df.to_sql('tshirts', engine, if_exists = 'replace')

9

In [11]:
#testing query
q = """
SELECT *
FROM tshirts
LIMIT 5;
"""
pd.read_sql(q, engine)

   index Size  Color  Cost Sold
0      0    S   Blue  5.00    Y
1      1    M    Red  7.49    Y
2      2    M  Green  8.00    N
3      3   XL  Green  4.00    N
4      4    L    Red  9.99    Y

In [12]:
q = """
SHOW TABLES;
"""
pd.read_sql(q, engine)

  Tables_in_new_db
0          tshirts